In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.4.3-py3-none-any.whl (985 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.3 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.2.0

# 1 question

In [3]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [5]:
# now we will download the webdriver for the web browser
#   go to link https://chromedriver.chromium.org/downloads

In [4]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [5]:
#opening this page from automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
#  entering designation and location as required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
#  scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#  scraping job location from given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
#  scraping company name from iven page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
#  create the dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'exp_required':experience_required})

In [13]:
df

,job_title,job_location,company_name,exp_required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
2,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
3,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
4,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
5,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Vola Finance,3-7 Yrs
8,Women on career break_ Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Zinnov Management C,5-10 Yrs
9,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs

#  2... scraped data for data scientist location banglore

In [14]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [15]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [16]:
#opening this page from automated chrome browser
driver.get("https://www.naukri.com/")

In [17]:
#  entering designation and location as required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data scientist')

In [18]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [19]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]

In [21]:
#  scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#  scraping job location from given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
#  scraping company name from given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [22]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [23]:
#  create the dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})

In [24]:
df

,job_title,job_location,company_name
0,Job Opportunity on Data Science_ Python with T...,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tech Mahindra
1,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
4,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
7,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
8,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
9,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited

#   3....scrape data using the filters available on the webpage

In [1]:
#    You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [7]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [44]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [45]:
#opening this page from automated chrome browser
driver.get("https://www.naukri.com/")

In [46]:
#  entering designation and location as required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data scientist')

In [47]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [51]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location.click()

In [52]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [54]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [55]:
#  scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#  scraping job location from given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
#  scraping company name from iven page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [56]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [57]:
#  create the dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})

In [58]:
df

,job_title,job_location,company_name,experience_required
0,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
1,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
2,Urgent Hiring- Expertise in Data Scientist in ...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",CLARITY CONSULTING,3-8 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
6,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs
7,Data Scientist,Gurgaon/Gurugram,AR Consultant,2-5 Yrs
8,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
9,Data Scientist / Sr. Data Scientist,Noida,WEGARNER SOLUTIONS PRIVATE LIMITED,2-7 Yrs

#  Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [15]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [16]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [17]:
#opening this page from automated chrome browser
driver.get("https://www.flipkart.com/")

In [18]:
#  entering product name as required in the question

product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [19]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [20]:
brand_name = []

In [21]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [22]:
pro_description = []

In [23]:
start=0
end=3
for page in range(start,end):
    pro=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in pro:
        pro_description.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [24]:
price_amount = []

In [25]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:
        price_amount.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [26]:
discount_amount = []

In [27]:
start=0
end=3
for page in range(start,end):
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in discount:
        discount_amount.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [29]:
print(len(brand_name),len(pro_description),len(price_amount),len(discount_amount))

120 120 120 120

In [31]:
#  create the dataframe
df=pd.DataFrame({'brand_name':brand_name,'pro_description':pro_description,'price_amount':price_amount,'discount_amount':discount_amount})[0:100]

In [32]:
df

,brand_name,pro_description,price_amount,discount_amount
0,Silver Kartz,"by Lenskart Polarized, UV Protection Cat-eye S...",₹279,47% off
1,ROZZETTA CRAFT,"Polarized, UV Protection Round Sunglasses (51)",₹749,77% off
2,PHENOMENAL,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹240,71% off
3,New Specs,"Riding Glasses, Riding Glasses, UV Protection ...",₹250,80% off
4,Fastrack,UV Protection Round Sunglasses (52),₹799,25% off
...,...,...,...,...
95,PIRASO,UV Protection Aviator Sunglasses (55),₹246,84% off
96,Fastrack,UV Protection Aviator Sunglasses (58),₹639,10% off
97,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹314,77% off
98,Fastrack,UV Protection Over-sized Sunglasses (65),₹759,84% off
99,hipe,UV Protection Aviator Sunglasses (55),₹169,74% off

# 5... Scrape 100 reviews data from flipkart.com for iphone11 phone.
1. Rating
2. Review summary
3. Full review

In [1]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [3]:
#opening this page from automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART ")

In [4]:
#  entering product and phone name as required in the question

#product=driver.find_element(By.CLASS_NAME,"_3704LK")
#product.send_keys('iphone11')

In [5]:
#search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
#search.click()

In [6]:
#iphone=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
#iphone.click()

In [ ]:
#all_reviews=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span")
#all_reviews.click()

In [4]:
Rating_point = []
Review_summary = []
Full_review = []

In [5]:
start=0
end=10
for page in range(start,end):
    Rating=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in Rating:
        Rating_point.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [6]:
start=0
end=10
for page in range(start,end):
    Review=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in Review:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [7]:
start=0
end=10
for page in range(start,end):
    Full=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in Full:
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")   
    next_button.click()
    time.sleep(3)

In [8]:
print(len(Rating_point),len(Review_summary),len(Full_review))

100 100 100

In [9]:
#  create the dataframe
df=pd.DataFrame({'Rating_point':Rating_point,'Review_summary':Review_summary,'Full_review':Full_review})

In [10]:
df

,Rating_point,Review_summary,Full_review
0,5,Perfect product!,The brand is very trustworthy and i got genuin...
1,5,Terrific,Wow superb camera phone\nVery smooth speed and...
2,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
3,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
4,5,Highly recommended,Thanx flipkart for value super sale for short ...
...,...,...,...
95,5,Terrific,This was an awesome buy. I bought this phone f...
96,5,Brilliant,Excellent product worth every penny right this...
97,5,Just wow!,iPhone 6S Plus 64GB -> iPhone 12 128GB\nMy 2nd...
98,4,Pretty good,I bought this iphone 12 in big billion days an...
99,5,Awesome,Switched from Android to iPhone and this trans...

In [ ]:
#this programme "URL" gives by  "MOhd.kashif "sir....he said this to mention.

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com 
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [1]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [3]:
#opening this page from automated chrome browser
driver.get("https://www.flipkart.com/")

In [4]:
#  entering product and search as required in the question

product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [5]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [6]:
brand_name = []

In [7]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        driver.get(next_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(next_button[0].get_attribute('href'))

In [17]:
len(brand_name)

120

In [18]:
description_des = []

#des=[] 

#for i in driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a"):

        #description.append(i.text)

#for i in range(0,len(description),1):

        #des.append(description[i])
start=0
end=3
for page in range(start,end):
    description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in description:
        description_des.append(i.text)
        
next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

try:

        driver.get(next_button[1].get_attribute('href'))#getting the link from the list for next page

except:

        driver.get(next_button[0].get_attribute('href'))

In [19]:
print(len(description_des))

111

In [20]:
price_amount = []

In [21]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:
        price_amount.append(i.text)
next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page

try:

        driver.get(next_button[1].get_attribute('href'))#getting the link from the list for next page

except:

        driver.get(next_button[0].get_attribute('href'))

In [22]:
print(len(brand_name),len(description_des),len(price_amount))

120 111 120

In [23]:
data = zip(brand_name,description_des,price_amount)
df = pd.DataFrame(data,columns=["brand_name","description_des","price_amount"])[0:100]
df

,brand_name,description_des,price_amount
0,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹649
1,BIRDE,Premium Sneakers For Men Sneakers For Men,₹450
2,Labbin,Sneaker Sneakers For Men,₹399
3,TR,Sneakers For Men,₹394
4,Shozie,Black Lightweight Casual Trendy Sneaker For Me...,"₹3,133"
...,...,...,...
95,Hida,Sneakers For Men,₹379
96,Scull Wings,"SD0323G -Canvas Shoes For Men- (White, Black) ...",₹539
97,RapidBox,Smash L Sneakers For Men,₹376
98,BIRDE,casual shoe for men Sneakers For Men,₹499
99,BIRDE,"Casual , Partywear Sneakers Shoes For Men's An...",₹654

# 7....Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to “Black”,

In [1]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [3]:
#opening this page from automated chrome browser
driver.get(" https://www.myntra.com/shoes")

In [4]:
# filter the price
Price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
Price.click()

In [5]:
# filter the colour according the question
Color=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
Color.click()

In [6]:
brand_name = []

In [7]:
start=0
end=2
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")   
    next_button.click()
    time.sleep(3)

In [8]:
des_product = []

In [9]:
start=0
end=2
for page in range(start,end):
    des=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in des:
        des_product.append(i.text)
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")   
    next_button.click()
    time.sleep(3)

In [10]:
price_amount = []

In [11]:
start=0
end=2
for page in range(start,end):
    price=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in price:
        price_amount.append(i.text)
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")   
    next_button.click()
    time.sleep(3)

In [12]:
# print all length

print(len(brand_name),len(des_product),len(price_amount))

100 100 100

In [13]:
#  create the dataframe
df=pd.DataFrame({'brand_name':brand_name,'des_product':des_product,'price_amount':price_amount})

In [14]:
df

,brand_name,des_product,price_amount
0,Nike,Women Arch Fit Slip-On Sneaker,Rs. 8599
1,ADIDAS Originals,,Rs. 9599
2,Bugatti,Men Slip-On Sneakers,Rs. 7999
3,Skechers,Women Solar Glide 5 Running,Rs. 11999
4,PUMA Motorsport,Men Textured Sneakers,Rs. 7999
...,...,...,...
95,Saint G,Men Slip-On Sneakers,Rs. 10400
96,Geox,Women Superstar Sneakers,Rs. 9990
97,fitflop,Women NMD_R1 Ease Sneakers,Rs. 8490
98,ALDO,Kitten Pumps Heels,Rs. 9405Rs. 9900(5% OFF)
99,Tommy Hilfiger,Men Golf Shoes,Rs. 10355Rs. 10900(5% OFF)

# Q8: Go to webpage https://www.amazon.in/ scrap the data intel i7
1. Title
2. Ratings
3. Price

In [16]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [17]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [18]:
#opening this page from automated chrome browser
driver.get(" https://www.amazon.in/ ")

In [19]:
#  entering product name as required in the question

product=driver.find_element(By.XPATH," /html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [20]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [21]:
# filter the CPU
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[12]/span/a/span")
CPU.click()

In [25]:
Ratings_point = []

In [26]:
Ratings_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")
for i in Ratings_tags[0:10]:
    Ratings=i.text
    Ratings_point.append(Ratings)

In [27]:
len(Ratings_point)

10

In [28]:
Title_brand = []
Price_amount = []

In [29]:
#  scraping title from given page
Title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in Title_tags[0:10]:
    Title=i.text
    Title_brand.append(Title)
    
#  scraping Rating point from given page

    
#  scraping price from given page
Price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in Price_tags[0:10]:
    Price=i.text
    Price_amount.append(Price)

In [30]:
print(len(Title_brand),len(Ratings_point),len(Price_amount))

10 10 10

In [31]:
#  create the dataframe
df=pd.DataFrame({'Title_brand':Title_brand,'Ratings_point':Ratings_point,'Price_amount':Price_amount})

In [32]:
df

,Title_brand,Ratings_point,Price_amount
0,"Dell Inspiron 3521 Laptop, Intel PQC-N5030, Wi...",,"31,490"
1,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...",,"28,990"
2,Dell Inspiron 3502 15.6 inches(39cm) HD Displa...,,"34,800"
3,Acer Travelmate Intel® Pentium® Gold 7505 Proc...,,"24,490"
4,Acer Extensa 15 Thin & Light Intel Processor P...,,"24,990"
5,Acer Aspire 3 Laptop (Made in India) A314-35 3...,,"28,490"
6,Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256...,,"29,999"
7,Microsoft Surface GO 3 Black Intel Pentium T66...,,"57,990"
8,"ASUS Windows 11 Home VivoBook 13 Slate OLED, I...",,"51,421"
9,Acer Extensa 15 Intel Processor Pentium Silver...,,"25,919"

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida  location. 
1..You have to scrape company name, 
2..No. of days ago when job was posted, 
3..Rating of the company.

In [1]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [3]:
#opening this page from automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [4]:
Job=driver.find_element(By.CLASS_NAME,"navItemLink")
Job.click()

In [6]:
#  entering designation and location as required in the question

designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data scientist')

In [8]:
search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [12]:
Location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
Location.click()

In [14]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/input")
location.click()

In [16]:
company_name = []
days_ago = []
Rating_point = []

In [17]:
#  scraping job title from given page
company_tags=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#  scraping job location from given page
days_tags=driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
for i in days_tags[0:10]:
    days=i.text
    days_ago.append(days)

    
#  scraping company name from iven page
Rating_tags=driver.find_elements(By.XPATH,"//span[@class='body-small']")
for i in Rating_tags[0:10]:
    Rating=i.text
    Rating_point.append(Rating)

In [18]:
# print all length
print(len(company_name),len(days_ago),len(Rating_point))

10 10 10

In [20]:
#  create the dataframe
df=pd.DataFrame({'company_name':company_name,'days_ago':days_ago,'Rating_point':Rating_point})

In [21]:
df

,company_name,days_ago,Rating_point
0,Optum Global Solutions (India) Private Limited,6d ago,4.1
1,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,via naukri.com,4.3
2,EY GDS,4d ago,3.8
3,GLOBALLOGIC INDIA PRIVATE LIMITED,via naukri.com,4.0
4,GENPACT India Private Limited,6d ago,4.0
5,Genpact,via iimjobs.com,4.0
6,Ericsson India Global Services Pvt. Ltd.,4d ago,4.3
7,Dew Solutions Pvt. Ltd.,via naukri.com,4.3
8,One97 Communications Limited,26d ago,3.8
9,EY,via naukri.com,3.8

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [1]:
#  import all librabries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe"  )

In [3]:
#opening this page from automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [6]:
Salaries=driver.find_element(By.CLASS_NAME,"icon-chevron-right")
Salaries.click()

In [7]:
salary=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]")
salary.click()

In [8]:
browse_salary=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]")
browse_salary.click()

In [10]:
#  entering designation  required in the question

profile=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
profile.send_keys('Data scientist')

In [7]:
Company_name = []
Number_salaries = []
Average_salary = []
Min_salary = []
Max_Salary = []
Experience_required = []