In [1]:
#!pip install numpy==1.14.5

In [2]:
#!pip install numpy --upgrade

In [3]:
!pip show numpy

Name: numpy
Version: 1.24.1
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: c:\anaconda\lib\site-packages
Requires:
Required-by: astropy, bkcharts, bokeh, Bottleneck, daal4py, datashader, datashape, eli5, gensim, h5py, holoviews, hvplot, imagecodecs, imageio, imbalanced-learn, Keras-Preprocessing, matplotlib, mkl-fft, mkl-random, numba, numexpr, opt-einsum, pandas, patsy, pyerfa, PyWavelets, scikit-image, scikit-learn, scipy, seaborn, statsmodels, tables, tensorboard, tensorflow-gpu, tifffile, wordcloud, xarray, xgboost

In [4]:
!pip show pandas

Name: pandas
Version: 1.5.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\anaconda\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: datashader, holoviews, hvplot, seaborn, statsmodels, xarray

In [5]:
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings("ignore")

import time, sys
import tqdm.notebook as tqdm
import pandas as pd
import numpy as np

import requests
import selenium
from bs4 import BeautifulSoup
from selenium import webdriver
from urllib.parse import urljoin
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
from selenium.common.exceptions import TimeoutException, StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException

In [6]:
url2 = "https://www.myflighttrip.com/"
url1 = "https://www.makemytrip.com/flights/"

In [7]:
page = requests.get(url2)
print("Legality Response number from makemytrip URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

Legality Response number from makemytrip URL is: <Response [200]>

In [8]:
# first connect to the browser
driver = webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32.zip\chromedriver.exe"  )

In [9]:
url2 ="https://www.makemytrip.com/flights/"
driver.get(url2)

In [11]:
#Clicking on mumbai to delhi link in myflighttrip
location_click = driver.find_element(by='xpath',value="/html/body/div[1]/div/div[2]/div/main/div[7]/div/div[5]/div/p[2]/p/a[1]/span")
location_click.click()

In [12]:
# Aitlines name
Airlines_name = []
try :
    flight = driver.find_elements(by='xpath',value='//span[@class="boldFont blackText airlineName"]')
    for i in flight:
        Airlines_name.append(i.text)
except NoSuchElementException:
    Airlines_name.append('No details available')
except StaleElementReferenceException:
     Airlines_name.append('No details available')

In [13]:
Airlines_name

['SpiceJet',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'Vistara',
 'Vistara',
 'Akasa Air',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Go First',
 'Vistara',
 'Vistara',
 'Go First',
 'Go First',
 'Go First',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Vistara',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'Vistara',
 'Go First',
 'IndiGo',
 'IndiGo',
 'Air India',
 'IndiGo',
 'Go First',
 'Vistara',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'AirAsia',
 'Air India',
 'Vistara',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara']

In [14]:
Departure_time = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoLeft"]/div[1]/p/span')
    for i in time:
        Departure_time.append(i.text)
except NoSuchElementException:
    Departure_time.append('No details available')
except StaleElementReferenceException:
     Departure_time.append('No details available')

In [15]:
Departure_time

['06:10',
 '15:15',
 '19:40',
 '21:50',
 '21:55',
 '22:55',
 '13:25',
 '20:55',
 '15:30',
 '16:35',
 '18:00',
 '19:00',
 '21:05',
 '18:10',
 '12:25',
 '18:30',
 '05:50',
 '21:15',
 '23:45',
 '07:10',
 '10:05',
 '21:45',
 '02:30',
 '06:05',
 '23:15',
 '22:55',
 '05:00',
 '07:45',
 '09:30',
 '17:15',
 '22:15',
 '10:00',
 '13:00',
 '19:45',
 '07:35',
 '14:45',
 '21:50',
 '20:35',
 '23:20',
 '13:10',
 '07:00',
 '17:00',
 '15:45',
 '17:00',
 '08:00',
 '09:00',
 '07:20',
 '01:05',
 '14:40',
 '22:05',
 '15:40',
 '18:35',
 '07:00',
 '08:30',
 '08:45',
 '08:45',
 '09:55',
 '10:25',
 '12:00',
 '12:40',
 '14:35',
 '15:45',
 '17:35',
 '17:40',
 '18:45',
 '20:00',
 '15:40',
 '10:20',
 '11:55',
 '03:55',
 '16:40',
 '06:00',
 '06:45',
 '06:35',
 '15:20',
 '17:55',
 '10:30',
 '16:00',
 '10:30',
 '05:45',
 '12:15',
 '06:00',
 '06:30',
 '07:30']

In [16]:
Total_stops = []
try :
    stops = driver.find_elements(by='xpath',value='//p[@class="flightsLayoverInfo"]')
    for i in stops:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('No details available')
except StaleElementReferenceException:
     Total_stops.append('No details available')

In [17]:
Total_stops

['1 stop via Jaipur',
 '1 stop via Jaipur',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ranchi',
 '1 stop via Lucknow',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Goa',
 '1 stop via Vadodara',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 '1 stop via Indore',
 '1 stop via Ahmedabad',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Ahmedabad',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Udaipur',
 '1 stop via Indore',
 '1 stop via Bengaluru',
 '1 stop via Udaipur',
 '1 stop via Bengaluru',
 '1 stop via Bhopal',
 '1 stop via Vadodara',
 '1 stop via Udaipur',
 'Non stop',
 'Non stop',
 'Non stop']

In [18]:
Duration_time = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="stop-info flexOne"]/p')
    for i in time:
        Duration_time.append(i.text)
except NoSuchElementException:
    Duration_time.append('No details available')
except StaleElementReferenceException:
     Duration_time.append('No details available')

In [19]:
Duration_time

['04 h 20 m',
 '07 h 50 m',
 '05 h 45 m',
 '16 h 30 m',
 '02 h 15 m',
 '02 h 05 m',
 '02 h 05 m',
 '02 h 05 m',
 '02 h 25 m',
 '02 h 05 m',
 '02 h 20 m',
 '02 h 20 m',
 '01 h 50 m',
 '06 h 40 m',
 '02 h 25 m',
 '02 h 10 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 20 m',
 '02 h 15 m',
 '01 h 55 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 25 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 25 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 10 m',
 '06 h 55 m',
 '04 h 45 m',
 '11 h 05 m',
 '12 h 20 m',
 '11 h 25 m',
 '08 h 55 m',
 '02 h 15 m',
 '05 h 30 m',
 '02 h 20 m',
 '04 h 10 m',
 '02 h 15 m',
 '02 h 20 m',
 '03 h 50 m',
 '04 h 40 m',
 '02 h 15 m',
 '04 h 55 m',
 '06 h 50 m',
 '05 h 30 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 20 m',
 '02 h 10 m',
 '01 h 50 m',
 '02 h 10 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '05 h 30 m',
 '02 h 20 m',
 '02 h 10 m',
 '06 h 50 m',
 '05 h 40 m',
 '06 h 40 m',
 '06 h 05 m',
 '03 h 50 m',
 '04 h 55 m',
 '05 h 50 m',
 '04 h 10 m',
 '05 h 25 m',
 '04 h 30 m',
 '03 h 50 m',
 '04 h 30 m',
 '01 h 55 m',
 '02 h 05 m',
 '02 h 10 m']

In [20]:
Arrival_time = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoRight"]/div[1]/p/span')
    for i in time:
        Arrival_time.append(i.text)
except NoSuchElementException:
    Arrival_time.append('No details available')
except StaleElementReferenceException:
     Arrival_time.append('No details available')

In [21]:
Arrival_time

['10:30',
 '23:05',
 '01:25',
 '14:20',
 '00:10',
 '01:00',
 '15:30',
 '23:00',
 '17:55',
 '18:40',
 '20:20',
 '21:20',
 '22:55',
 '00:50',
 '14:50',
 '20:40',
 '08:00',
 '23:30',
 '02:00',
 '09:30',
 '12:20',
 '23:40',
 '04:45',
 '08:20',
 '01:40',
 '01:05',
 '07:15',
 '10:00',
 '11:45',
 '19:30',
 '00:40',
 '12:15',
 '15:15',
 '21:55',
 '14:30',
 '19:30',
 '08:55',
 '08:55',
 '10:45',
 '22:05',
 '09:15',
 '22:30',
 '18:05',
 '21:10',
 '10:15',
 '11:20',
 '11:10',
 '05:45',
 '16:55',
 '03:00',
 '22:30',
 '00:05',
 '09:15',
 '10:45',
 '10:55',
 '11:00',
 '12:05',
 '12:40',
 '14:15',
 '15:00',
 '16:45',
 '17:35',
 '19:45',
 '19:50',
 '21:00',
 '22:15',
 '21:10',
 '12:40',
 '14:05',
 '10:45',
 '22:20',
 '12:40',
 '12:50',
 '10:25',
 '20:15',
 '23:45',
 '14:40',
 '21:25',
 '15:00',
 '09:35',
 '16:45',
 '07:55',
 '08:35',
 '09:40']

In [22]:
Price_ticket = []
try :
    ticket = driver.find_elements(by='xpath',value='//p[@class="blackText fontSize18 blackFont white-space-no-wrap"]')
    for i in ticket:
        Price_ticket.append(i.text)
except NoSuchElementException:
    Price_ticket.append('No details available')
except StaleElementReferenceException:
     Price_ticket.append('No details available')

In [23]:
Price_ticket

['₹ 3,680',
 '₹ 4,546',
 '₹ 4,546',
 '₹ 4,546',
 '₹ 4,652',
 '₹ 4,652',
 '₹ 4,973',
 '₹ 5,019',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,445',
 '₹ 5,492',
 '₹ 5,492',
 '₹ 5,629',
 '₹ 5,629',
 '₹ 5,629',
 '₹ 5,633',
 '₹ 5,633',
 '₹ 5,633',
 '₹ 5,635',
 '₹ 5,635',
 '₹ 5,635',
 '₹ 5,820',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,943',
 '₹ 5,943',
 '₹ 5,943',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 6,186',
 '₹ 6,220',
 '₹ 6,313',
 '₹ 6,363',
 '₹ 6,406',
 '₹ 6,468',
 '₹ 6,468',
 '₹ 6,468',
 '₹ 6,716',
 '₹ 6,783',
 '₹ 6,863',
 '₹ 7,267',
 '₹ 7,267',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,361',
 '₹ 7,623',
 '₹ 7,623',
 '₹ 7,921',
 '₹ 8,453',
 '₹ 8,505',
 '₹ 8,505',
 '₹ 8,516',
 '₹ 8,622',
 '₹ 8,768',
 '₹ 8,882',
 '₹ 9,135',
 '₹ 9,165',
 '₹ 9,241',
 '₹ 9,407',
 '₹ 10,143',
 '₹ 10,143',
 '₹ 10,143']

In [24]:
print(len(Airlines_name))
print(len(Departure_time))
print(len(Total_stops))
print(len(Duration_time))
print(len(Arrival_time))
print(len(Price_ticket))

84
84
84
84
84
84

In [25]:
#Clicking on mumbai to banglore link in myflighttrip
location1_click = driver.find_element(by='xpath',value="/html/body/main/div[1]/div/div/div/div[4]/div/div[1]/div[3]/div[4]/div/div[4]/p/a")
location1_click.click()

In [26]:
# Aitlines name
Airlines_name_bang = []
try :
    flight = driver.find_elements(by='xpath',value='//span[@class="boldFont blackText airlineName"]')
    for i in flight:
        Airlines_name_bang.append(i.text)
except NoSuchElementException:
    Airlines_name_bang.append('No details available')
except StaleElementReferenceException:
     Airlines_name_bang.append('No details available')

In [27]:
Airlines_name_bang

['Go First',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Akasa Air',
 'Akasa Air',
 'IndiGo',
 'Vistara',
 'Air India',
 'Akasa Air',
 'Air India',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Akasa Air',
 'IndiGo',
 'Vistara',
 'Go First',
 'Akasa Air',
 'Akasa Air',
 'Akasa Air',
 'Air India',
 'Air India',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'AirAsia',
 'AirAsia',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'AirAsia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo']

In [29]:
Departure_time_bang = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoLeft"]/div[1]/p/span')
    for i in time:
        Departure_time_bang.append(i.text)
except NoSuchElementException:
    Departure_time_bang.append('No details available')
except StaleElementReferenceException:
     Departure_time_bang.append('No details available')

In [30]:
Departure_time_bang

['19:20',
 '21:35',
 '00:15',
 '06:05',
 '23:10',
 '00:05',
 '22:20',
 '18:50',
 '06:00',
 '06:45',
 '14:15',
 '18:50',
 '19:40',
 '20:35',
 '21:50',
 '12:10',
 '15:00',
 '16:45',
 '13:00',
 '09:50',
 '17:55',
 '05:45',
 '09:20',
 '19:00',
 '20:25',
 '08:00',
 '09:20',
 '08:30',
 '09:05',
 '16:00',
 '17:30',
 '19:10',
 '21:30',
 '20:35',
 '16:40',
 '15:05',
 '07:00',
 '04:50',
 '03:55',
 '23:20',
 '05:25',
 '07:00',
 '07:40',
 '15:35',
 '17:10',
 '05:35',
 '05:35',
 '17:00',
 '19:40',
 '08:50',
 '04:40',
 '07:15',
 '07:15',
 '11:40',
 '10:00',
 '13:10',
 '15:35',
 '18:45',
 '17:20',
 '20:30',
 '06:00',
 '06:20',
 '11:30',
 '05:25',
 '06:50',
 '09:40']

In [32]:
Total_stops_bang = []
try :
    stops = driver.find_elements(by='xpath',value='//p[@class="flightsLayoverInfo"]')
    for i in stops:
        Total_stops_bang.append(i.text)
except NoSuchElementException:
    Total_stops_bang.append('No details available')
except StaleElementReferenceException:
     Total_stops_bang.append('No details available')

In [33]:
Total_stops_bang

['Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Goa',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Goa',
 '1 stop via Goa',
 '1 stop via Chennai',
 'Non stop',
 'Non stop',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Goa',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Mangalore',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Goa',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Chennai',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Goa',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Goa']

In [34]:
Duration_time_bang = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="stop-info flexOne"]/p')
    for i in time:
        Duration_time_bang.append(i.text)
except NoSuchElementException:
    Duration_time_bang.append('No details available')
except StaleElementReferenceException:
     Duration_time_bang.append('No details available')

In [35]:
Duration_time_bang

['01 h 35 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 35 m',
 '01 h 40 m',
 '01 h 45 m',
 '01 h 55 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 30 m',
 '01 h 40 m',
 '02 h',
 '01 h 40 m',
 '02 h',
 '01 h 40 m',
 '01 h 35 m',
 '01 h 55 m',
 '01 h 30 m',
 '01 h 40 m',
 '01 h 20 m',
 '01 h 35 m',
 '01 h 45 m',
 '01 h 50 m',
 '01 h 40 m',
 '01 h 40 m',
 '01 h 45 m',
 '01 h 50 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 20 m',
 '01 h 50 m',
 '01 h 45 m',
 '08 h 45 m',
 '01 h 35 m',
 '04 h 35 m',
 '04 h 25 m',
 '07 h 45 m',
 '06 h 55 m',
 '01 h 45 m',
 '01 h 55 m',
 '07 h 30 m',
 '05 h 55 m',
 '08 h 20 m',
 '06 h 45 m',
 '07 h 55 m',
 '05 h 25 m',
 '05 h 05 m',
 '05 h 10 m',
 '06 h 40 m',
 '05 h 05 m',
 '04 h 20 m',
 '06 h 35 m',
 '05 h',
 '04 h 40 m',
 '05 h 20 m',
 '06 h 45 m',
 '04 h 40 m',
 '05 h 20 m',
 '03 h 30 m',
 '04 h 20 m',
 '04 h 30 m',
 '04 h 25 m',
 '03 h 50 m']

In [36]:
Arrival_time_bang = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoRight"]/div[1]/p/span')
    for i in time:
        Arrival_time_bang.append(i.text)
except NoSuchElementException:
    Arrival_time_bang.append('No details available')
except StaleElementReferenceException:
     Arrival_time_bang.append('No details available')

In [37]:
Arrival_time_bang

['20:55',
 '23:20',
 '02:00',
 '07:50',
 '00:45',
 '01:45',
 '00:05',
 '20:45',
 '07:45',
 '08:30',
 '15:45',
 '20:30',
 '21:40',
 '22:15',
 '23:50',
 '13:50',
 '16:35',
 '18:40',
 '14:30',
 '11:30',
 '19:15',
 '07:20',
 '11:05',
 '20:50',
 '22:05',
 '09:40',
 '11:05',
 '10:20',
 '10:50',
 '17:45',
 '19:15',
 '20:55',
 '22:50',
 '22:25',
 '18:25',
 '23:50',
 '08:35',
 '09:25',
 '08:20',
 '07:05',
 '12:20',
 '08:45',
 '09:35',
 '23:05',
 '23:05',
 '13:55',
 '12:20',
 '00:55',
 '01:05',
 '13:55',
 '09:50',
 '13:55',
 '12:20',
 '16:00',
 '16:35',
 '18:10',
 '20:15',
 '00:05',
 '00:05',
 '01:10',
 '11:20',
 '09:50',
 '15:50',
 '09:55',
 '11:15',
 '13:30']

In [38]:
Price_ticket_bang = []
try :
    ticket = driver.find_elements(by='xpath',value='//p[@class="blackText fontSize18 blackFont white-space-no-wrap"]')
    for i in ticket:
        Price_ticket_bang.append(i.text)
except NoSuchElementException:
    Price_ticket_bang.append('No details available')
except StaleElementReferenceException:
     Price_ticket_bang.append('No details available')

In [39]:
Price_ticket_bang

['₹ 2,252',
 '₹ 2,252',
 '₹ 2,305',
 '₹ 2,450',
 '₹ 2,450',
 '₹ 2,502',
 '₹ 2,502',
 '₹ 2,549',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,605',
 '₹ 2,605',
 '₹ 2,605',
 '₹ 2,606',
 '₹ 2,810',
 '₹ 2,814',
 '₹ 2,851',
 '₹ 3,002',
 '₹ 3,002',
 '₹ 3,002',
 '₹ 3,077',
 '₹ 3,077',
 '₹ 3,179',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,190',
 '₹ 3,602',
 '₹ 3,861',
 '₹ 4,120',
 '₹ 4,268',
 '₹ 4,302',
 '₹ 4,302',
 '₹ 4,358',
 '₹ 4,400',
 '₹ 4,400',
 '₹ 4,415',
 '₹ 5,074',
 '₹ 5,138',
 '₹ 5,312',
 '₹ 5,492',
 '₹ 5,538',
 '₹ 6,249',
 '₹ 6,884',
 '₹ 6,924',
 '₹ 7,098',
 '₹ 7,098',
 '₹ 7,098',
 '₹ 7,098',
 '₹ 7,105',
 '₹ 7,152',
 '₹ 7,152',
 '₹ 7,152',
 '₹ 7,329',
 '₹ 7,518',
 '₹ 7,676',
 '₹ 9,146',
 '₹ 9,146',
 '₹ 10,014']

In [40]:
print(len(Airlines_name_bang))
print(len(Departure_time_bang))
print(len(Total_stops_bang))
print(len(Duration_time_bang))
print(len(Arrival_time_bang))
print(len(Price_ticket_bang))

66
66
66
66
66
66

In [41]:
#Clicking on hydrabad to delhi link in myflighttrip
location1_click = driver.find_element(by='xpath',value="/html/body/main/div[1]/div/div/div/div[4]/div/div[1]/div[3]/div[8]/div/div[6]/p/a")
location1_click.click()

In [42]:
# Aitlines name
Airlines_name_hydr = []
try :
    flight = driver.find_elements(by='xpath',value='//span[@class="boldFont blackText airlineName"]')
    for i in flight:
        Airlines_name_hydr.append(i.text)
except NoSuchElementException:
    Airlines_name_hydr.append('No details available')
except StaleElementReferenceException:
     Airlines_name_hydr.append('No details available')

In [43]:
Airlines_name_hydr

['Go First',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'Vistara',
 'AirAsia',
 'AirAsia',
 'IndiGo',
 'Air India',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'SpiceJet',
 'SpiceJet',
 'Vistara',
 'IndiGo',
 'SpiceJet',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'IndiGo']

In [44]:
Departure_time_hydr = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoLeft"]/div[1]/p/span')
    for i in time:
        Departure_time_hydr.append(i.text)
except NoSuchElementException:
    Departure_time_hydr.append('No details available')
except StaleElementReferenceException:
     Departure_time_hydr.append('No details available')

In [45]:
Departure_time_hydr

['06:20',
 '17:00',
 '05:05',
 '06:45',
 '16:30',
 '18:10',
 '20:15',
 '21:35',
 '22:45',
 '07:00',
 '17:40',
 '20:30',
 '06:25',
 '10:10',
 '09:30',
 '11:50',
 '14:10',
 '07:00',
 '16:10',
 '22:20',
 '10:05',
 '16:25',
 '20:30',
 '14:20',
 '14:40',
 '09:20',
 '19:40',
 '21:45',
 '21:00',
 '13:15',
 '17:55',
 '17:25',
 '22:20',
 '10:15',
 '07:00',
 '14:25',
 '19:30',
 '14:50',
 '14:25',
 '11:40',
 '06:20',
 '10:10',
 '15:45',
 '07:05',
 '07:15',
 '08:50',
 '07:00',
 '18:00',
 '08:45',
 '10:50',
 '20:05',
 '15:45',
 '08:45',
 '05:20']

In [46]:
Total_stops_hydr = []
try :
    stops = driver.find_elements(by='xpath',value='//p[@class="flightsLayoverInfo"]')
    for i in stops:
        Total_stops_hydr.append(i.text)
except NoSuchElementException:
    Total_stops_hydr.append('No details available')
except StaleElementReferenceException:
     Total_stops_hydr.append('No details available')

In [47]:
Total_stops_hydr

['Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Lucknow',
 '1 stop via Raipur',
 '1 stop via Lucknow',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Bengaluru',
 '1 stop via Jaipur',
 '1 stop via Jaipur',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Goa',
 '1 stop via Lucknow',
 '1 stop via Bengaluru',
 '1 stop via Lucknow',
 '1 stop via Indore',
 '1 stop via Indore',
 '1 stop via Aurangabad',
 '1 stop via Indore',
 '1 stop via Jaipur',
 '1 stop via Nasik',
 '1 stop via Shirdi',
 '1 stop via Mumbai',
 '1 stop via Bhopal',
 '1 stop via Jharsuguda',
 '1 stop via Bengaluru',
 '1 stop via Lucknow',
 '1 stop via Raipur',
 '1 stop via Udaipur',
 '1 stop via Nagpur',
 '1 stop via Jaipur',
 '1 stop via Mumbai',
 '1 stop via Udaipur',
 '1 stop via Indore']

In [48]:
Duration_time_hydr = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="stop-info flexOne"]/p')
    for i in time:
        Duration_time_hydr.append(i.text)
except NoSuchElementException:
    Duration_time_hydr.append('No details available')
except StaleElementReferenceException:
     Duration_time_hydr.append('No details available')

In [49]:
Duration_time_hydr

['02 h 25 m',
 '02 h 30 m',
 '02 h 25 m',
 '02 h 20 m',
 '02 h 25 m',
 '02 h 30 m',
 '02 h 25 m',
 '02 h 30 m',
 '02 h 25 m',
 '02 h 20 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 30 m',
 '02 h 15 m',
 '02 h 25 m',
 '02 h 25 m',
 '02 h 20 m',
 '11 h 15 m',
 '06 h 55 m',
 '10 h 35 m',
 '02 h 25 m',
 '02 h 20 m',
 '02 h 30 m',
 '06 h 25 m',
 '08 h 25 m',
 '13 h 45 m',
 '05 h 45 m',
 '11 h 10 m',
 '11 h 55 m',
 '02 h 20 m',
 '07 h 50 m',
 '08 h 20 m',
 '09 h 30 m',
 '05 h 40 m',
 '04 h 50 m',
 '05 h 50 m',
 '04 h 55 m',
 '04 h 45 m',
 '10 h',
 '08 h 35 m',
 '06 h 50 m',
 '07 h 05 m',
 '04 h 55 m',
 '10 h 45 m',
 '10 h 10 m',
 '05 h 20 m',
 '08 h 35 m',
 '05 h 05 m',
 '09 h 55 m',
 '08 h 10 m',
 '10 h 35 m',
 '04 h',
 '05 h 50 m',
 '07 h 40 m']

In [50]:
Arrival_time_hydr = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoRight"]/div[1]/p/span')
    for i in time:
        Arrival_time_hydr.append(i.text)
except NoSuchElementException:
    Arrival_time_hydr.append('No details available')
except StaleElementReferenceException:
     Arrival_time_hydr.append('No details available')

In [51]:
Arrival_time_hydr

['08:45',
 '19:30',
 '07:30',
 '09:05',
 '18:55',
 '20:40',
 '22:40',
 '00:05',
 '01:10',
 '09:20',
 '19:55',
 '22:45',
 '08:55',
 '12:25',
 '11:55',
 '14:15',
 '16:30',
 '18:15',
 '23:05',
 '08:55',
 '12:30',
 '18:45',
 '23:00',
 '20:45',
 '23:05',
 '23:05',
 '01:25',
 '08:55',
 '08:55',
 '15:35',
 '01:45',
 '01:45',
 '07:50',
 '15:55',
 '11:50',
 '20:15',
 '00:25',
 '19:35',
 '00:25',
 '20:15',
 '13:10',
 '17:15',
 '20:40',
 '17:50',
 '17:25',
 '14:10',
 '15:35',
 '23:05',
 '18:40',
 '19:00',
 '06:40',
 '19:45',
 '14:35',
 '13:00']

In [52]:
Price_ticket_hydr = []
try :
    ticket = driver.find_elements(by='xpath',value='//p[@class="blackText fontSize18 blackFont white-space-no-wrap"]')
    for i in ticket:
        Price_ticket_hydr.append(i.text)
except NoSuchElementException:
    Price_ticket_hydr.append('No details available')
except StaleElementReferenceException:
     Price_ticket_hydr.append('No details available')

In [53]:
Price_ticket_hydr

['₹ 4,701',
 '₹ 4,899',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,178',
 '₹ 5,178',
 '₹ 5,178',
 '₹ 5,597',
 '₹ 5,913',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,701',
 '₹ 6,868',
 '₹ 6,868',
 '₹ 6,910',
 '₹ 7,880',
 '₹ 8,028',
 '₹ 8,201',
 '₹ 8,265',
 '₹ 8,438',
 '₹ 8,516',
 '₹ 8,677',
 '₹ 8,689',
 '₹ 8,779',
 '₹ 8,962',
 '₹ 8,992',
 '₹ 9,097',
 '₹ 9,098',
 '₹ 9,131',
 '₹ 9,316',
 '₹ 9,468',
 '₹ 9,491',
 '₹ 9,675',
 '₹ 10,253',
 '₹ 11,255',
 '₹ 14,596']

In [54]:
print(len(Airlines_name_hydr))
print(len(Departure_time_hydr))
print(len(Total_stops_hydr))
print(len(Duration_time_hydr))
print(len(Arrival_time_hydr))
print(len(Price_ticket_hydr))

54
54
54
54
54
54

In [55]:
#Clicking on chennai to srinagar link in myflighttrip
location3_click = driver.find_element(by='xpath',value="/html/body/main/div[1]/div/div/div/div[4]/div/div[1]/div[3]/div[7]/div/div[7]/p/a")
location3_click.click()

In [56]:
# Aitlines name
Airlines_name_chen = []
try :
    flight = driver.find_elements(by='xpath',value='//span[@class="boldFont blackText airlineName"]')
    for i in flight:
        Airlines_name_chen.append(i.text)
except NoSuchElementException:
    Airlines_name_chen.append('No details available')
except StaleElementReferenceException:
     Airlines_name_chen.append('No details available')

In [57]:
Airlines_name_chen

['IndiGo',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'IndiGo',
 'Air India']

In [58]:
Departure_time_chen = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoLeft"]/div[1]/p/span')
    for i in time:
        Departure_time_chen.append(i.text)
except NoSuchElementException:
    Departure_time_chen.append('No details available')
except StaleElementReferenceException:
     Departure_time_chen.append('No details available')

In [59]:
Departure_time_chen

['05:15',
 '20:40',
 '14:50',
 '20:10',
 '09:35',
 '05:00',
 '12:30',
 '06:20',
 '20:20',
 '09:40',
 '20:00',
 '19:00',
 '17:50',
 '23:40',
 '22:30',
 '21:20',
 '14:30',
 '17:00',
 '05:15',
 '22:00',
 '16:10',
 '16:50',
 '09:25',
 '10:55']

In [60]:
Total_stops_chen = []
try :
    stops = driver.find_elements(by='xpath',value='//p[@class="flightsLayoverInfo"]')
    for i in stops:
        Total_stops_chen.append(i.text)
except NoSuchElementException:
    Total_stops_chen.append('No details available')
except StaleElementReferenceException:
     Total_stops_chen.append('No details available')

In [61]:
Total_stops_chen

['Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ahmedabad',
 '1 stop via Lucknow',
 '1 stop via Ahmedabad',
 '1 stop via Ahmedabad',
 '1 stop via Ahmedabad',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '1 stop via Ahmedabad',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '2 stop via Indore,Mumbai',
 '2 stop via Bengaluru,Mumbai',
 '1 stop via Indore',
 '1 stop via Ahmedabad',
 '2 stop via Chennai,Mumbai',
 '2 stop via Hyderabad,Mumbai',
 '1 stop via Indore',
 '2 stop via Goa,Mumbai']

In [62]:
Duration_time_chen = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="stop-info flexOne"]/p')
    for i in time:
        Duration_time_chen.append(i.text)
except NoSuchElementException:
    Duration_time_chen.append('No details available')
except StaleElementReferenceException:
     Duration_time_chen.append('No details available')

In [63]:
Duration_time_chen

['01 h 45 m',
 '01 h 30 m',
 '01 h 45 m',
 '01 h 40 m',
 '01 h 45 m',
 '10 h 30 m',
 '07 h 55 m',
 '09 h 10 m',
 '11 h 30 m',
 '05 h 50 m',
 '11 h 05 m',
 '12 h 05 m',
 '13 h 15 m',
 '08 h 10 m',
 '08 h 35 m',
 '09 h 45 m',
 '16 h 35 m',
 '14 h 05 m',
 '09 h 20 m',
 '09 h 50 m',
 '14 h 55 m',
 '14 h 15 m',
 '05 h 10 m',
 '20 h 10 m']

In [64]:
Arrival_time_chen = []
try :
    time = driver.find_elements(by='xpath',value='//div[@class="flightTimeSection flexOne timeInfoRight"]/div[1]/p/span')
    for i in time:
        Arrival_time_chen.append(i.text)
except NoSuchElementException:
    Arrival_time_chen.append('No details available')
except StaleElementReferenceException:
     Arrival_time_chen.append('No details available')

In [65]:
Arrival_time_chen

['07:00',
 '22:10',
 '16:35',
 '21:50',
 '11:20',
 '15:30',
 '20:25',
 '15:30',
 '07:50',
 '15:30',
 '07:05',
 '07:05',
 '07:05',
 '07:50',
 '07:05',
 '07:05',
 '07:05',
 '07:05',
 '14:35',
 '07:50',
 '07:05',
 '07:05',
 '14:35',
 '07:05']

In [66]:
Price_ticket_chen = []
try :
    ticket = driver.find_elements(by='xpath',value='//p[@class="blackText fontSize18 blackFont white-space-no-wrap"]')
    for i in ticket:
        Price_ticket_chen.append(i.text)
except NoSuchElementException:
    Price_ticket_chen.append('No details available')
except StaleElementReferenceException:
     Price_ticket_chen.append('No details available')

In [67]:
Price_ticket_chen

['₹ 3,502',
 '₹ 3,502',
 '₹ 5,114',
 '₹ 5,114',
 '₹ 5,542',
 '₹ 7,387',
 '₹ 7,469',
 '₹ 7,891',
 '₹ 9,231',
 '₹ 9,488',
 '₹ 9,622',
 '₹ 9,622',
 '₹ 9,622',
 '₹ 9,698',
 '₹ 10,785',
 '₹ 10,785',
 '₹ 10,785',
 '₹ 12,822',
 '₹ 13,194',
 '₹ 13,383',
 '₹ 13,431',
 '₹ 14,565',
 '₹ 14,874',
 '₹ 18,831']

In [68]:
print(len(Airlines_name_chen))
print(len(Departure_time_chen))
print(len(Total_stops_chen))
print(len(Duration_time_chen))
print(len(Arrival_time_chen))
print(len(Price_ticket_chen))

24
24
24
24
24
24

In [69]:
84+66+54+24

228

## Now I will add all the Airlines name collected from the makemytrip.com websites for each and every location mentioned in the above cells.

In [70]:
A =Airlines_name + Airlines_name_hydr + Airlines_name_chen + Airlines_name_bang

In [71]:
A

['SpiceJet',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'Vistara',
 'Vistara',
 'Akasa Air',
 'Vistara',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'Go First',
 'Vistara',
 'Vistara',
 'Go First',
 'Go First',
 'Go First',
 'SpiceJet',
 'SpiceJet',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Vistara',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'Vistara',
 'Go First',
 'IndiGo',
 'IndiGo',
 'Air India',
 'IndiGo',
 'Go First',
 'Vistara',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'AirAsia',
 'Air India',
 'Vistara',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Go First',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'Vistara',
 'AirAsia',
 'AirAsia',
 'IndiGo',
 'Air India',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'SpiceJet',
 'SpiceJet',
 'Vistara',
 'IndiGo',
 'SpiceJet',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'Air India',
 'Air India',
 'Air India',
 'Air India',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Air India',
 'IndiGo',
 'Air India',
 'Go First',
 'Go First',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Akasa Air',
 'Akasa Air',
 'IndiGo',
 'Vistara',
 'Air India',
 'Akasa Air',
 'Air India',
 'AirAsia',
 'AirAsia',
 'AirAsia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Akasa Air',
 'IndiGo',
 'Vistara',
 'Go First',
 'Akasa Air',
 'Akasa Air',
 'Akasa Air',
 'Air India',
 'Air India',
 'IndiGo',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'Vistara',
 'IndiGo',
 'Air India',
 'SpiceJet',
 'IndiGo',
 'IndiGo',
 'AirAsia',
 'AirAsia',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'AirAsia',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'Air India',
 'Vistara',
 'IndiGo',
 'IndiGo',
 'IndiGo',
 'IndiGo']

In [72]:
len(A)

228

### Now I will add all the Departure time collected from the makemytrip.com websites for each and every location mentioned in the above cells.

In [73]:
D = Departure_time+Departure_time_chen+Departure_time_hydr+Departure_time_bang

In [74]:
D

['06:10',
 '15:15',
 '19:40',
 '21:50',
 '21:55',
 '22:55',
 '13:25',
 '20:55',
 '15:30',
 '16:35',
 '18:00',
 '19:00',
 '21:05',
 '18:10',
 '12:25',
 '18:30',
 '05:50',
 '21:15',
 '23:45',
 '07:10',
 '10:05',
 '21:45',
 '02:30',
 '06:05',
 '23:15',
 '22:55',
 '05:00',
 '07:45',
 '09:30',
 '17:15',
 '22:15',
 '10:00',
 '13:00',
 '19:45',
 '07:35',
 '14:45',
 '21:50',
 '20:35',
 '23:20',
 '13:10',
 '07:00',
 '17:00',
 '15:45',
 '17:00',
 '08:00',
 '09:00',
 '07:20',
 '01:05',
 '14:40',
 '22:05',
 '15:40',
 '18:35',
 '07:00',
 '08:30',
 '08:45',
 '08:45',
 '09:55',
 '10:25',
 '12:00',
 '12:40',
 '14:35',
 '15:45',
 '17:35',
 '17:40',
 '18:45',
 '20:00',
 '15:40',
 '10:20',
 '11:55',
 '03:55',
 '16:40',
 '06:00',
 '06:45',
 '06:35',
 '15:20',
 '17:55',
 '10:30',
 '16:00',
 '10:30',
 '05:45',
 '12:15',
 '06:00',
 '06:30',
 '07:30',
 '05:15',
 '20:40',
 '14:50',
 '20:10',
 '09:35',
 '05:00',
 '12:30',
 '06:20',
 '20:20',
 '09:40',
 '20:00',
 '19:00',
 '17:50',
 '23:40',
 '22:30',
 '21:20',
 '14:30',
 '17:00',
 '05:15',
 '22:00',
 '16:10',
 '16:50',
 '09:25',
 '10:55',
 '06:20',
 '17:00',
 '05:05',
 '06:45',
 '16:30',
 '18:10',
 '20:15',
 '21:35',
 '22:45',
 '07:00',
 '17:40',
 '20:30',
 '06:25',
 '10:10',
 '09:30',
 '11:50',
 '14:10',
 '07:00',
 '16:10',
 '22:20',
 '10:05',
 '16:25',
 '20:30',
 '14:20',
 '14:40',
 '09:20',
 '19:40',
 '21:45',
 '21:00',
 '13:15',
 '17:55',
 '17:25',
 '22:20',
 '10:15',
 '07:00',
 '14:25',
 '19:30',
 '14:50',
 '14:25',
 '11:40',
 '06:20',
 '10:10',
 '15:45',
 '07:05',
 '07:15',
 '08:50',
 '07:00',
 '18:00',
 '08:45',
 '10:50',
 '20:05',
 '15:45',
 '08:45',
 '05:20',
 '19:20',
 '21:35',
 '00:15',
 '06:05',
 '23:10',
 '00:05',
 '22:20',
 '18:50',
 '06:00',
 '06:45',
 '14:15',
 '18:50',
 '19:40',
 '20:35',
 '21:50',
 '12:10',
 '15:00',
 '16:45',
 '13:00',
 '09:50',
 '17:55',
 '05:45',
 '09:20',
 '19:00',
 '20:25',
 '08:00',
 '09:20',
 '08:30',
 '09:05',
 '16:00',
 '17:30',
 '19:10',
 '21:30',
 '20:35',
 '16:40',
 '15:05',
 '07:00',
 '04:50',
 '03:55',
 '23:20',
 '05:25',
 '07:00',
 '07:40',
 '15:35',
 '17:10',
 '05:35',
 '05:35',
 '17:00',
 '19:40',
 '08:50',
 '04:40',
 '07:15',
 '07:15',
 '11:40',
 '10:00',
 '13:10',
 '15:35',
 '18:45',
 '17:20',
 '20:30',
 '06:00',
 '06:20',
 '11:30',
 '05:25',
 '06:50',
 '09:40']

In [75]:
len(D)

228

### Now I will add all the total stops collected from the makemytrip.com websites for each and every location mentioned in the above cells.

In [76]:
T = Total_stops+Total_stops_chen+Total_stops_hydr+Total_stops_bang

In [77]:
T

['1 stop via Jaipur',
 '1 stop via Jaipur',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ranchi',
 '1 stop via Lucknow',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Goa',
 '1 stop via Vadodara',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 '1 stop via Indore',
 '1 stop via Ahmedabad',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Ahmedabad',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ahmedabad',
 'Non stop',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Udaipur',
 '1 stop via Indore',
 '1 stop via Bengaluru',
 '1 stop via Udaipur',
 '1 stop via Bengaluru',
 '1 stop via Bhopal',
 '1 stop via Vadodara',
 '1 stop via Udaipur',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Ahmedabad',
 '1 stop via Lucknow',
 '1 stop via Ahmedabad',
 '1 stop via Ahmedabad',
 '1 stop via Ahmedabad',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '1 stop via Ahmedabad',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '2 stop via Indore,Mumbai',
 '2 stop via Bengaluru,Mumbai',
 '1 stop via Indore',
 '1 stop via Ahmedabad',
 '2 stop via Chennai,Mumbai',
 '2 stop via Hyderabad,Mumbai',
 '1 stop via Indore',
 '2 stop via Goa,Mumbai',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Lucknow',
 '1 stop via Raipur',
 '1 stop via Lucknow',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Bengaluru',
 '1 stop via Jaipur',
 '1 stop via Jaipur',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 '1 stop via Bengaluru',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Goa',
 '1 stop via Lucknow',
 '1 stop via Bengaluru',
 '1 stop via Lucknow',
 '1 stop via Indore',
 '1 stop via Indore',
 '1 stop via Aurangabad',
 '1 stop via Indore',
 '1 stop via Jaipur',
 '1 stop via Nasik',
 '1 stop via Shirdi',
 '1 stop via Mumbai',
 '1 stop via Bhopal',
 '1 stop via Jharsuguda',
 '1 stop via Bengaluru',
 '1 stop via Lucknow',
 '1 stop via Raipur',
 '1 stop via Udaipur',
 '1 stop via Nagpur',
 '1 stop via Jaipur',
 '1 stop via Mumbai',
 '1 stop via Udaipur',
 '1 stop via Indore',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 'Non stop',
 '1 stop via Goa',
 'Non stop',
 '1 stop via Goa',
 '1 stop via Goa',
 '1 stop via Goa',
 '1 stop via Chennai',
 'Non stop',
 'Non stop',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Goa',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Mangalore',
 '1 stop via Chennai',
 '1 stop via Chennai',
 '1 stop via Goa',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Chennai',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Goa',
 '1 stop via Hyderabad',
 '1 stop via Hyderabad',
 '1 stop via Goa']

In [78]:
len(T)

228

### Now I will add all the Duration time collected from the makemytrip.com websites for each and every location mentioned in the above cells.

In [79]:
DU = Duration_time+Duration_time_chen+Duration_time_hydr+Duration_time_bang
DU

['04 h 20 m',
 '07 h 50 m',
 '05 h 45 m',
 '16 h 30 m',
 '02 h 15 m',
 '02 h 05 m',
 '02 h 05 m',
 '02 h 05 m',
 '02 h 25 m',
 '02 h 05 m',
 '02 h 20 m',
 '02 h 20 m',
 '01 h 50 m',
 '06 h 40 m',
 '02 h 25 m',
 '02 h 10 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 20 m',
 '02 h 15 m',
 '01 h 55 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 25 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 25 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 10 m',
 '06 h 55 m',
 '04 h 45 m',
 '11 h 05 m',
 '12 h 20 m',
 '11 h 25 m',
 '08 h 55 m',
 '02 h 15 m',
 '05 h 30 m',
 '02 h 20 m',
 '04 h 10 m',
 '02 h 15 m',
 '02 h 20 m',
 '03 h 50 m',
 '04 h 40 m',
 '02 h 15 m',
 '04 h 55 m',
 '06 h 50 m',
 '05 h 30 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 20 m',
 '02 h 10 m',
 '01 h 50 m',
 '02 h 10 m',
 '02 h 10 m',
 '02 h 15 m',
 '02 h 15 m',
 '05 h 30 m',
 '02 h 20 m',
 '02 h 10 m',
 '06 h 50 m',
 '05 h 40 m',
 '06 h 40 m',
 '06 h 05 m',
 '03 h 50 m',
 '04 h 55 m',
 '05 h 50 m',
 '04 h 10 m',
 '05 h 25 m',
 '04 h 30 m',
 '03 h 50 m',
 '04 h 30 m',
 '01 h 55 m',
 '02 h 05 m',
 '02 h 10 m',
 '01 h 45 m',
 '01 h 30 m',
 '01 h 45 m',
 '01 h 40 m',
 '01 h 45 m',
 '10 h 30 m',
 '07 h 55 m',
 '09 h 10 m',
 '11 h 30 m',
 '05 h 50 m',
 '11 h 05 m',
 '12 h 05 m',
 '13 h 15 m',
 '08 h 10 m',
 '08 h 35 m',
 '09 h 45 m',
 '16 h 35 m',
 '14 h 05 m',
 '09 h 20 m',
 '09 h 50 m',
 '14 h 55 m',
 '14 h 15 m',
 '05 h 10 m',
 '20 h 10 m',
 '02 h 25 m',
 '02 h 30 m',
 '02 h 25 m',
 '02 h 20 m',
 '02 h 25 m',
 '02 h 30 m',
 '02 h 25 m',
 '02 h 30 m',
 '02 h 25 m',
 '02 h 20 m',
 '02 h 15 m',
 '02 h 15 m',
 '02 h 30 m',
 '02 h 15 m',
 '02 h 25 m',
 '02 h 25 m',
 '02 h 20 m',
 '11 h 15 m',
 '06 h 55 m',
 '10 h 35 m',
 '02 h 25 m',
 '02 h 20 m',
 '02 h 30 m',
 '06 h 25 m',
 '08 h 25 m',
 '13 h 45 m',
 '05 h 45 m',
 '11 h 10 m',
 '11 h 55 m',
 '02 h 20 m',
 '07 h 50 m',
 '08 h 20 m',
 '09 h 30 m',
 '05 h 40 m',
 '04 h 50 m',
 '05 h 50 m',
 '04 h 55 m',
 '04 h 45 m',
 '10 h',
 '08 h 35 m',
 '06 h 50 m',
 '07 h 05 m',
 '04 h 55 m',
 '10 h 45 m',
 '10 h 10 m',
 '05 h 20 m',
 '08 h 35 m',
 '05 h 05 m',
 '09 h 55 m',
 '08 h 10 m',
 '10 h 35 m',
 '04 h',
 '05 h 50 m',
 '07 h 40 m',
 '01 h 35 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 35 m',
 '01 h 40 m',
 '01 h 45 m',
 '01 h 55 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 30 m',
 '01 h 40 m',
 '02 h',
 '01 h 40 m',
 '02 h',
 '01 h 40 m',
 '01 h 35 m',
 '01 h 55 m',
 '01 h 30 m',
 '01 h 40 m',
 '01 h 20 m',
 '01 h 35 m',
 '01 h 45 m',
 '01 h 50 m',
 '01 h 40 m',
 '01 h 40 m',
 '01 h 45 m',
 '01 h 50 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 45 m',
 '01 h 20 m',
 '01 h 50 m',
 '01 h 45 m',
 '08 h 45 m',
 '01 h 35 m',
 '04 h 35 m',
 '04 h 25 m',
 '07 h 45 m',
 '06 h 55 m',
 '01 h 45 m',
 '01 h 55 m',
 '07 h 30 m',
 '05 h 55 m',
 '08 h 20 m',
 '06 h 45 m',
 '07 h 55 m',
 '05 h 25 m',
 '05 h 05 m',
 '05 h 10 m',
 '06 h 40 m',
 '05 h 05 m',
 '04 h 20 m',
 '06 h 35 m',
 '05 h',
 '04 h 40 m',
 '05 h 20 m',
 '06 h 45 m',
 '04 h 40 m',
 '05 h 20 m',
 '03 h 30 m',
 '04 h 20 m',
 '04 h 30 m',
 '04 h 25 m',
 '03 h 50 m']

In [80]:
len(DU)

228

### Now I will add all the Arrival time collected from the makemytrip.com websites for each and every location mentioned in the above cells.

In [81]:
AT = Arrival_time+Arrival_time_chen+Arrival_time_hydr+Arrival_time_bang
AT

['10:30',
 '23:05',
 '01:25',
 '14:20',
 '00:10',
 '01:00',
 '15:30',
 '23:00',
 '17:55',
 '18:40',
 '20:20',
 '21:20',
 '22:55',
 '00:50',
 '14:50',
 '20:40',
 '08:00',
 '23:30',
 '02:00',
 '09:30',
 '12:20',
 '23:40',
 '04:45',
 '08:20',
 '01:40',
 '01:05',
 '07:15',
 '10:00',
 '11:45',
 '19:30',
 '00:40',
 '12:15',
 '15:15',
 '21:55',
 '14:30',
 '19:30',
 '08:55',
 '08:55',
 '10:45',
 '22:05',
 '09:15',
 '22:30',
 '18:05',
 '21:10',
 '10:15',
 '11:20',
 '11:10',
 '05:45',
 '16:55',
 '03:00',
 '22:30',
 '00:05',
 '09:15',
 '10:45',
 '10:55',
 '11:00',
 '12:05',
 '12:40',
 '14:15',
 '15:00',
 '16:45',
 '17:35',
 '19:45',
 '19:50',
 '21:00',
 '22:15',
 '21:10',
 '12:40',
 '14:05',
 '10:45',
 '22:20',
 '12:40',
 '12:50',
 '10:25',
 '20:15',
 '23:45',
 '14:40',
 '21:25',
 '15:00',
 '09:35',
 '16:45',
 '07:55',
 '08:35',
 '09:40',
 '07:00',
 '22:10',
 '16:35',
 '21:50',
 '11:20',
 '15:30',
 '20:25',
 '15:30',
 '07:50',
 '15:30',
 '07:05',
 '07:05',
 '07:05',
 '07:50',
 '07:05',
 '07:05',
 '07:05',
 '07:05',
 '14:35',
 '07:50',
 '07:05',
 '07:05',
 '14:35',
 '07:05',
 '08:45',
 '19:30',
 '07:30',
 '09:05',
 '18:55',
 '20:40',
 '22:40',
 '00:05',
 '01:10',
 '09:20',
 '19:55',
 '22:45',
 '08:55',
 '12:25',
 '11:55',
 '14:15',
 '16:30',
 '18:15',
 '23:05',
 '08:55',
 '12:30',
 '18:45',
 '23:00',
 '20:45',
 '23:05',
 '23:05',
 '01:25',
 '08:55',
 '08:55',
 '15:35',
 '01:45',
 '01:45',
 '07:50',
 '15:55',
 '11:50',
 '20:15',
 '00:25',
 '19:35',
 '00:25',
 '20:15',
 '13:10',
 '17:15',
 '20:40',
 '17:50',
 '17:25',
 '14:10',
 '15:35',
 '23:05',
 '18:40',
 '19:00',
 '06:40',
 '19:45',
 '14:35',
 '13:00',
 '20:55',
 '23:20',
 '02:00',
 '07:50',
 '00:45',
 '01:45',
 '00:05',
 '20:45',
 '07:45',
 '08:30',
 '15:45',
 '20:30',
 '21:40',
 '22:15',
 '23:50',
 '13:50',
 '16:35',
 '18:40',
 '14:30',
 '11:30',
 '19:15',
 '07:20',
 '11:05',
 '20:50',
 '22:05',
 '09:40',
 '11:05',
 '10:20',
 '10:50',
 '17:45',
 '19:15',
 '20:55',
 '22:50',
 '22:25',
 '18:25',
 '23:50',
 '08:35',
 '09:25',
 '08:20',
 '07:05',
 '12:20',
 '08:45',
 '09:35',
 '23:05',
 '23:05',
 '13:55',
 '12:20',
 '00:55',
 '01:05',
 '13:55',
 '09:50',
 '13:55',
 '12:20',
 '16:00',
 '16:35',
 '18:10',
 '20:15',
 '00:05',
 '00:05',
 '01:10',
 '11:20',
 '09:50',
 '15:50',
 '09:55',
 '11:15',
 '13:30']

In [82]:
len(AT)

228

### Now I will add all the Ticket price collected from the makemytrip.com websites for each and every location mentioned in the above cells.

In [83]:
P = Price_ticket+Price_ticket_chen+Price_ticket_hydr+Price_ticket_bang

In [84]:
P

['₹ 3,680',
 '₹ 4,546',
 '₹ 4,546',
 '₹ 4,546',
 '₹ 4,652',
 '₹ 4,652',
 '₹ 4,973',
 '₹ 5,019',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,305',
 '₹ 5,445',
 '₹ 5,492',
 '₹ 5,492',
 '₹ 5,629',
 '₹ 5,629',
 '₹ 5,629',
 '₹ 5,633',
 '₹ 5,633',
 '₹ 5,633',
 '₹ 5,635',
 '₹ 5,635',
 '₹ 5,635',
 '₹ 5,820',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,845',
 '₹ 5,943',
 '₹ 5,943',
 '₹ 5,943',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 5,959',
 '₹ 6,186',
 '₹ 6,220',
 '₹ 6,313',
 '₹ 6,363',
 '₹ 6,406',
 '₹ 6,468',
 '₹ 6,468',
 '₹ 6,468',
 '₹ 6,716',
 '₹ 6,783',
 '₹ 6,863',
 '₹ 7,267',
 '₹ 7,267',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,308',
 '₹ 7,361',
 '₹ 7,623',
 '₹ 7,623',
 '₹ 7,921',
 '₹ 8,453',
 '₹ 8,505',
 '₹ 8,505',
 '₹ 8,516',
 '₹ 8,622',
 '₹ 8,768',
 '₹ 8,882',
 '₹ 9,135',
 '₹ 9,165',
 '₹ 9,241',
 '₹ 9,407',
 '₹ 10,143',
 '₹ 10,143',
 '₹ 10,143',
 '₹ 3,502',
 '₹ 3,502',
 '₹ 5,114',
 '₹ 5,114',
 '₹ 5,542',
 '₹ 7,387',
 '₹ 7,469',
 '₹ 7,891',
 '₹ 9,231',
 '₹ 9,488',
 '₹ 9,622',
 '₹ 9,622',
 '₹ 9,622',
 '₹ 9,698',
 '₹ 10,785',
 '₹ 10,785',
 '₹ 10,785',
 '₹ 12,822',
 '₹ 13,194',
 '₹ 13,383',
 '₹ 13,431',
 '₹ 14,565',
 '₹ 14,874',
 '₹ 18,831',
 '₹ 4,701',
 '₹ 4,899',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,177',
 '₹ 5,178',
 '₹ 5,178',
 '₹ 5,178',
 '₹ 5,597',
 '₹ 5,913',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,367',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,368',
 '₹ 6,701',
 '₹ 6,868',
 '₹ 6,868',
 '₹ 6,910',
 '₹ 7,880',
 '₹ 8,028',
 '₹ 8,201',
 '₹ 8,265',
 '₹ 8,438',
 '₹ 8,516',
 '₹ 8,677',
 '₹ 8,689',
 '₹ 8,779',
 '₹ 8,962',
 '₹ 8,992',
 '₹ 9,097',
 '₹ 9,098',
 '₹ 9,131',
 '₹ 9,316',
 '₹ 9,468',
 '₹ 9,491',
 '₹ 9,675',
 '₹ 10,253',
 '₹ 11,255',
 '₹ 14,596',
 '₹ 2,252',
 '₹ 2,252',
 '₹ 2,305',
 '₹ 2,450',
 '₹ 2,450',
 '₹ 2,502',
 '₹ 2,502',
 '₹ 2,549',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,552',
 '₹ 2,605',
 '₹ 2,605',
 '₹ 2,605',
 '₹ 2,606',
 '₹ 2,810',
 '₹ 2,814',
 '₹ 2,851',
 '₹ 3,002',
 '₹ 3,002',
 '₹ 3,002',
 '₹ 3,077',
 '₹ 3,077',
 '₹ 3,179',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,182',
 '₹ 3,190',
 '₹ 3,602',
 '₹ 3,861',
 '₹ 4,120',
 '₹ 4,268',
 '₹ 4,302',
 '₹ 4,302',
 '₹ 4,358',
 '₹ 4,400',
 '₹ 4,400',
 '₹ 4,415',
 '₹ 5,074',
 '₹ 5,138',
 '₹ 5,312',
 '₹ 5,492',
 '₹ 5,538',
 '₹ 6,249',
 '₹ 6,884',
 '₹ 6,924',
 '₹ 7,098',
 '₹ 7,098',
 '₹ 7,098',
 '₹ 7,098',
 '₹ 7,105',
 '₹ 7,152',
 '₹ 7,152',
 '₹ 7,152',
 '₹ 7,329',
 '₹ 7,518',
 '₹ 7,676',
 '₹ 9,146',
 '₹ 9,146',
 '₹ 10,014']

In [85]:
len(P)

228

## After adding up all the data I will store the data in dataframe format.

In [86]:
import pandas as pd

In [87]:
df = pd.DataFrame(
{
    'Airlines name' : A,
    'Departure' : D,
    'Stops' : T,
    'Duration' : DU,
    'Arrival' : AT,
    'Price' : P
})

In [88]:
df

    Airlines name Departure                 Stops   Duration Arrival     Price
0        SpiceJet     06:10     1 stop via Jaipur  04 h 20 m   10:30   ₹ 3,680
1         AirAsia     15:15     1 stop via Jaipur  07 h 50 m   23:05   ₹ 4,546
2         AirAsia     19:40  1 stop via Bengaluru  05 h 45 m   01:25   ₹ 4,546
3         AirAsia     21:50  1 stop via Bengaluru  16 h 30 m   14:20   ₹ 4,546
4         Vistara     21:55              Non stop  02 h 15 m   00:10   ₹ 4,652
..            ...       ...                   ...        ...     ...       ...
223       Vistara     06:20  1 stop via Hyderabad  03 h 30 m   09:50   ₹ 7,518
224        IndiGo     11:30        1 stop via Goa  04 h 20 m   15:50   ₹ 7,676
225        IndiGo     05:25  1 stop via Hyderabad  04 h 30 m   09:55   ₹ 9,146
226        IndiGo     06:50  1 stop via Hyderabad  04 h 25 m   11:15   ₹ 9,146
227        IndiGo     09:40        1 stop via Goa  03 h 50 m   13:30  ₹ 10,014

[228 rows x 6 columns]

In [96]:
df['Price'].value_counts()

₹ 7,308     14
₹ 6,368      9
₹ 2,552      7
₹ 5,177      7
₹ 6,367      6
            ..
₹ 12,822     1
₹ 9,698      1
₹ 9,488      1
₹ 9,231      1
₹ 10,014     1
Name: Price, Length: 128, dtype: int64

In [92]:
df=df[df.Price !='']

In [93]:
df

    Airlines name Departure                 Stops   Duration Arrival     Price
0        SpiceJet     06:10     1 stop via Jaipur  04 h 20 m   10:30   ₹ 3,680
1         AirAsia     15:15     1 stop via Jaipur  07 h 50 m   23:05   ₹ 4,546
2         AirAsia     19:40  1 stop via Bengaluru  05 h 45 m   01:25   ₹ 4,546
3         AirAsia     21:50  1 stop via Bengaluru  16 h 30 m   14:20   ₹ 4,546
4         Vistara     21:55              Non stop  02 h 15 m   00:10   ₹ 4,652
..            ...       ...                   ...        ...     ...       ...
223       Vistara     06:20  1 stop via Hyderabad  03 h 30 m   09:50   ₹ 7,518
224        IndiGo     11:30        1 stop via Goa  04 h 20 m   15:50   ₹ 7,676
225        IndiGo     05:25  1 stop via Hyderabad  04 h 30 m   09:55   ₹ 9,146
226        IndiGo     06:50  1 stop via Hyderabad  04 h 25 m   11:15   ₹ 9,146
227        IndiGo     09:40        1 stop via Goa  03 h 50 m   13:30  ₹ 10,014

[228 rows x 6 columns]

## Replacing the symbols like ₹  into white spaces.

In [97]:
df['Price'] = df['Price'].str.replace("₹",'')

### Displying the whole dataset with to_string method

In [98]:
print(df.to_string())

    Airlines name Departure                        Stops   Duration Arrival    Price
0        SpiceJet     06:10            1 stop via Jaipur  04 h 20 m   10:30    3,680
1         AirAsia     15:15            1 stop via Jaipur  07 h 50 m   23:05    4,546
2         AirAsia     19:40         1 stop via Bengaluru  05 h 45 m   01:25    4,546
3         AirAsia     21:50         1 stop via Bengaluru  16 h 30 m   14:20    4,546
4         Vistara     21:55                     Non stop  02 h 15 m   00:10    4,652
5         Vistara     22:55                     Non stop  02 h 05 m   01:00    4,652
6       Akasa Air     13:25                     Non stop  02 h 05 m   15:30    4,973
7         Vistara     20:55                     Non stop  02 h 05 m   23:00    5,019
8       Air India     15:30                     Non stop  02 h 25 m   17:55    5,305
9       Air India     16:35                     Non stop  02 h 05 m   18:40    5,305
10      Air India     18:00                     Non stop  02 h 20 m   20:20    5,305
11      Air India     19:00                     Non stop  02 h 20 m   21:20    5,305
12      Air India     21:05                     Non stop  01 h 50 m   22:55    5,305
13       Go First     18:10         1 stop via Ahmedabad  06 h 40 m   00:50    5,445
14        Vistara     12:25                     Non stop  02 h 25 m   14:50    5,492
15        Vistara     18:30                     Non stop  02 h 10 m   20:40    5,492
16       Go First     05:50                     Non stop  02 h 10 m   08:00    5,629
17       Go First     21:15                     Non stop  02 h 15 m   23:30    5,629
18       Go First     23:45                     Non stop  02 h 15 m   02:00    5,629
19       SpiceJet     07:10                     Non stop  02 h 20 m   09:30    5,633
20       SpiceJet     10:05                     Non stop  02 h 15 m   12:20    5,633
21       SpiceJet     21:45                     Non stop  01 h 55 m   23:40    5,633
22         IndiGo     02:30                     Non stop  02 h 15 m   04:45    5,635
23         IndiGo     06:05                     Non stop  02 h 15 m   08:20    5,635
24         IndiGo     23:15                     Non stop  02 h 25 m   01:40    5,635
25       Go First     22:55                     Non stop  02 h 10 m   01:05    5,820
26         IndiGo     05:00                     Non stop  02 h 15 m   07:15    5,845
27         IndiGo     07:45                     Non stop  02 h 15 m   10:00    5,845
28         IndiGo     09:30                     Non stop  02 h 15 m   11:45    5,845
29         IndiGo     17:15                     Non stop  02 h 15 m   19:30    5,845
30         IndiGo     22:15                     Non stop  02 h 25 m   00:40    5,845
31      Air India     10:00                     Non stop  02 h 15 m   12:15    5,943
32      Air India     13:00                     Non stop  02 h 15 m   15:15    5,943
33        Vistara     19:45                     Non stop  02 h 10 m   21:55    5,943
34        AirAsia     07:35            1 stop via Ranchi  06 h 55 m   14:30    5,959
35        AirAsia     14:45           1 stop via Lucknow  04 h 45 m   19:30    5,959
36        AirAsia     21:50         1 stop via Bengaluru  11 h 05 m   08:55    5,959
37        AirAsia     20:35         1 stop via Bengaluru  12 h 20 m   08:55    5,959
38        AirAsia     23:20               1 stop via Goa  11 h 25 m   10:45    5,959
39         IndiGo     13:10          1 stop via Vadodara  08 h 55 m   22:05    6,186
40         IndiGo     07:00                     Non stop  02 h 15 m   09:15    6,220
41         IndiGo     17:00         1 stop via Ahmedabad  05 h 30 m   22:30    6,313
42        Vistara     15:45                     Non stop  02 h 20 m   18:05    6,363
43         IndiGo     17:00         1 stop via Ahmedabad  04 h 10 m   21:10    6,406
44      Air India     08:00                     Non stop  02 h 15 m   10:15    6,468
45      Air India     09:00                     Non stop  02 h 20 m   11:20    6,468
46      Air India     07:20            1 stop via Indore  03 h 50 m   11:10    6,468
47         IndiGo     01:05         1 stop via Ahmedabad  04 h 40 m   05:45    6,716
48        Vistara     14:40                     Non stop  02 h 15 m   16:55    6,783
49       Go First     22:05               1 stop via Goa  04 h 55 m   03:00    6,863
50         IndiGo     15:40         1 stop via Ahmedabad  06 h 50 m   22:30    7,267
51         IndiGo     18:35         1 stop via Ahmedabad  05 h 30 m   00:05    7,267
52      Air India     07:00                     Non stop  02 h 15 m   09:15    7,308
53         IndiGo     08:30                     Non stop  02 h 15 m   10:45    7,308
54       Go First     08:45                     Non stop  02 h 10 m   10:55    7,308
55        Vistara     08:45                     Non stop  02 h 15 m   11:00    7,308
56       Go First     09:55                     Non stop  02 h 10 m   12:05    7,308
57         IndiGo     10:25                     Non stop  02 h 15 m   12:40    7,308
58         IndiGo     12:00                     Non stop  02 h 15 m   14:15    7,308
59         IndiGo     12:40                     Non stop  02 h 20 m   15:00    7,308
60         IndiGo     14:35                     Non stop  02 h 10 m   16:45    7,308
61         IndiGo     15:45                     Non stop  01 h 50 m   17:35    7,308
62        Vistara     17:35                     Non stop  02 h 10 m   19:45    7,308
63       Go First     17:40                     Non stop  02 h 10 m   19:50    7,308
64         IndiGo     18:45                     Non stop  02 h 15 m   21:00    7,308
65         IndiGo     20:00                     Non stop  02 h 15 m   22:15    7,308
66         IndiGo     15:40         1 stop via Ahmedabad  05 h 30 m   21:10    7,361
67        Vistara     10:20                     Non stop  02 h 20 m   12:40    7,623
68        Vistara     11:55                     Non stop  02 h 10 m   14:05    7,623
69        AirAsia     03:55               1 stop via Goa  06 h 50 m   10:45    7,921
70      Air India     16:40         1 stop via Bengaluru  05 h 40 m   22:20    8,453
71        Vistara     06:00         1 stop via Bengaluru  06 h 40 m   12:40    8,505
72      Air India     06:45         1 stop via Bengaluru  06 h 05 m   12:50    8,505
73         IndiGo     06:35           1 stop via Udaipur  03 h 50 m   10:25    8,516
74         IndiGo     15:20            1 stop via Indore  04 h 55 m   20:15    8,622
75        Vistara     17:55         1 stop via Bengaluru  05 h 50 m   23:45    8,768
76        Vistara     10:30           1 stop via Udaipur  04 h 10 m   14:40    8,882
77        Vistara     16:00         1 stop via Bengaluru  05 h 25 m   21:25    9,135
78      Air India     10:30            1 stop via Bhopal  04 h 30 m   15:00    9,165
79         IndiGo     05:45          1 stop via Vadodara  03 h 50 m   09:35    9,241
80        Vistara     12:15           1 stop via Udaipur  04 h 30 m   16:45    9,407
81        Vistara     06:00                     Non stop  01 h 55 m   07:55   10,143
82        Vistara     06:30                     Non stop  02 h 05 m   08:35   10,143
83        Vistara     07:30                     Non stop  02 h 10 m   09:40   10,143
84       Go First     05:15                     Non stop  01 h 45 m   07:00    3,502
85       SpiceJet     20:40                     Non stop  01 h 30 m   22:10    3,502
86         IndiGo     14:50                     Non stop  01 h 45 m   16:35    5,114
87         IndiGo     20:10                     Non stop  01 h 40 m   21:50    5,114
88         IndiGo     09:35                     Non stop  01 h 45 m   11:20    5,542
89         IndiGo     05:00         1 stop via Ahmedabad  10 h 30 m   15:30    7,387
90         IndiGo     12:30           1 stop via Lucknow  07 h 55 m   20:25    7,469
91         IndiGo     06:20         1 stop via Ahmedabad  09 h 10 m   15:30    7,891
92         IndiGo     20:20         1 stop via Ahmedabad  11 h 30 m   07:50    9,231
93        Vistara     09:40         1 stop via Ahmedabad  05 h 50 m   15:30    9,488
94        Vistara     20:00            1 stop via Mumbai  11 h 05 m   07:05    9,622
95        Vistara     19:00            1 stop via Mumbai  12 h 05 m   07:05    9,622
96      Air India     17:50            1 stop via Mumbai  13 h 15 m   07:05    9,622
97        Vistara     23:40         1 stop via Ahmedabad  08 h 10 m   07:50    9,698
98         IndiGo     22:30            1 stop via Mumbai  08 h 35 m   07:05   10,785
99         IndiGo     21:20            1 stop via Mumbai  09 h 45 m   07:05   10,785
100        IndiGo     14:30     2 stop via Indore,Mumbai  16 h 35 m   07:05   10,785
101        IndiGo     17:00  2 stop via Bengaluru,Mumbai  14 h 05 m   07:05   12,822
102        IndiGo     05:15            1 stop via Indore  09 h 20 m   14:35   13,194
103        IndiGo     22:00         1 stop via Ahmedabad  09 h 50 m   07:50   13,383
104     Air India     16:10    2 stop via Chennai,Mumbai  14 h 55 m   07:05   13,431
105     Air India     16:50  2 stop via Hyderabad,Mumbai  14 h 15 m   07:05   14,565
106     Air India     09:25            1 stop via Indore  05 h 10 m   14:35   14,874
107       AirAsia     10:55        2 stop via Goa,Mumbai  20 h 10 m   07:05   18,831
108       AirAsia     06:20                     Non stop  02 h 25 m   08:45    4,701
109       AirAsia     17:00                     Non stop  02 h 30 m   19:30    4,899
110       AirAsia     05:05                     Non stop  02 h 25 m   07:30    5,177
111       AirAsia     06:45                     Non stop  02 h 20 m   09:05    5,177
112       AirAsia     16:30                     Non stop  02 h 25 m   18:55    5,177
113       Vistara     18:10                     Non stop  02 h 30 m   20:40    5,177
114       AirAsia     20:15                     Non stop  02 h 25 m   22:40    5,177
115       AirAsia     21:35                     Non stop  02 h 30 m   00:05    5,177
116        IndiGo     22:45                     Non stop  02 h 25 m   01:10    5,177
117     Air India     07:00                     Non stop  02 h 20 m   09:20    5,178
118        IndiGo     17:40                     Non stop  02 h 15 m   19:55    5,178
119        IndiGo     20:30                     Non stop  02 h 15 m   22:45    5,178
120        IndiGo     06:25                     Non stop  02 h 30 m   08:55    5,597
121        IndiGo     10:10                     Non stop  02 h 15 m   12:25    5,913
122        IndiGo     09:30                     Non stop  02 h 25 m   11:55    6,367
123        IndiGo     11:50                     Non stop  02 h 25 m   14:15    6,367
124      SpiceJet     14:10                     Non stop  02 h 20 m   16:30    6,367
125      SpiceJet     07:00           1 stop via Lucknow  11 h 15 m   18:15    6,367
126       Vistara     16:10            1 stop via Raipur  06 h 55 m   23:05    6,367
127        IndiGo     22:20           1 stop via Lucknow  10 h 35 m   08:55    6,367
128      SpiceJet     10:05                     Non stop  02 h 25 m   12:30    6,368
129       Vistara     16:25                     Non stop  02 h 20 m   18:45    6,368
130        IndiGo     20:30                     Non stop  02 h 30 m   23:00    6,368
131        IndiGo     14:20         1 stop via Bengaluru  06 h 25 m   20:45    6,368
132        IndiGo     14:40            1 stop via Jaipur  08 h 25 m   23:05    6,368
133        IndiGo     09:20            1 stop via Jaipur  13 h 45 m   23:05    6,368
134        IndiGo     19:40         1 stop via Bengaluru  05 h 45 m   01:25    6,368
135       Vistara     21:45         1 stop via Bengaluru  11 h 10 m   08:55    6,368
136        IndiGo     21:00         1 stop via Bengaluru  11 h 55 m   08:55    6,368
137        IndiGo     13:15                     Non stop  02 h 20 m   15:35    6,701
138        IndiGo     17:55               1 stop via Goa  07 h 50 m   01:45    6,868
139      Go First     17:25               1 stop via Goa  08 h 20 m   01:45    6,868
140        IndiGo     22:20           1 stop via Lucknow  09 h 30 m   07:50    6,910
141        IndiGo     10:15         1 stop via Bengaluru  05 h 40 m   15:55    7,880
142        IndiGo     07:00           1 stop via Lucknow  04 h 50 m   11:50    8,028
143        IndiGo     14:25            1 stop via Indore  05 h 50 m   20:15    8,201
144        IndiGo     19:30            1 stop via Indore  04 h 55 m   00:25    8,265
145        IndiGo     14:50        1 stop via Aurangabad  04 h 45 m   19:35    8,438
146        IndiGo     14:25            1 stop via Indore       10 h   00:25    8,516
147        IndiGo     11:40            1 stop via Jaipur  08 h 35 m   20:15    8,677
148     Air India     06:20             1 stop via Nasik  06 h 50 m   13:10    8,689
149     Air India     10:10            1 stop via Shirdi  07 h 05 m   17:15    8,779
150     Air India     15:45            1 stop via Mumbai  04 h 55 m   20:40    8,962
151        IndiGo     07:05            1 stop via Bhopal  10 h 45 m   17:50    8,992
152     Air India     07:15        1 stop via Jharsuguda  10 h 10 m   17:25    9,097
153     Air India     08:50         1 stop via Bengaluru  05 h 20 m   14:10    9,098
154     Air India     07:00           1 stop via Lucknow  08 h 35 m   15:35    9,131
155     Air India     18:00            1 stop via Raipur  05 h 05 m   23:05    9,316
156        IndiGo     08:45           1 stop via Udaipur  09 h 55 m   18:40    9,468
157        IndiGo     10:50            1 stop via Nagpur  08 h 10 m   19:00    9,491
158     Air India     20:05            1 stop via Jaipur  10 h 35 m   06:40    9,675
159     Air India     15:45            1 stop via Mumbai       04 h   19:45   10,253
160        IndiGo     08:45           1 stop via Udaipur  05 h 50 m   14:35   11,255
161     Air India     05:20            1 stop via Indore  07 h 40 m   13:00   14,596
162      Go First     19:20                     Non stop  01 h 35 m   20:55    2,252
163      Go First     21:35                     Non stop  01 h 45 m   23:20    2,252
164        IndiGo     00:15                     Non stop  01 h 45 m   02:00    2,305
165        IndiGo     06:05                     Non stop  01 h 45 m   07:50    2,450
166        IndiGo     23:10                     Non stop  01 h 35 m   00:45    2,450
167     Akasa Air     00:05                     Non stop  01 h 40 m   01:45    2,502
168     Akasa Air     22:20                     Non stop  01 h 45 m   00:05    2,502
169        IndiGo     18:50                     Non stop  01 h 55 m   20:45    2,549
170       Vistara     06:00                     Non stop  01 h 45 m   07:45    2,552
171     Air India     06:45                     Non stop  01 h 45 m   08:30    2,552
172     Akasa Air     14:15                     Non stop  01 h 30 m   15:45    2,552
173     Air India     18:50                     Non stop  01 h 40 m   20:30    2,552
174       AirAsia     19:40                     Non stop       02 h   21:40    2,552
175       AirAsia     20:35                     Non stop  01 h 40 m   22:15    2,552
176       AirAsia     21:50                     Non stop       02 h   23:50    2,552
177        IndiGo     12:10                     Non stop  01 h 40 m   13:50    2,605
178        IndiGo     15:00                     Non stop  01 h 35 m   16:35    2,605
179        IndiGo     16:45                     Non stop  01 h 55 m   18:40    2,605
180     Akasa Air     13:00                     Non stop  01 h 30 m   14:30    2,606
181        IndiGo     09:50                     Non stop  01 h 40 m   11:30    2,810
182       Vistara     17:55                     Non stop  01 h 20 m   19:15    2,814
183      Go First     05:45                     Non stop  01 h 35 m   07:20    2,851
184     Akasa Air     09:20                     Non stop  01 h 45 m   11:05    3,002
185     Akasa Air     19:00                     Non stop  01 h 50 m   20:50    3,002
186     Akasa Air     20:25                     Non stop  01 h 40 m   22:05    3,002
187     Air India     08:00                     Non stop  01 h 40 m   09:40    3,077
188     Air India     09:20                     Non stop  01 h 45 m   11:05    3,077
189        IndiGo     08:30                     Non stop  01 h 50 m   10:20    3,179
190       Vistara     09:05                     Non stop  01 h 45 m   10:50    3,182
191       Vistara     16:00                     Non stop  01 h 45 m   17:45    3,182
192       Vistara     17:30                     Non stop  01 h 45 m   19:15    3,182
193       Vistara     19:10                     Non stop  01 h 45 m   20:55    3,182
194       Vistara     21:30                     Non stop  01 h 20 m   22:50    3,182
195        IndiGo     20:35                     Non stop  01 h 50 m   22:25    3,190
196     Air India     16:40                     Non stop  01 h 45 m   18:25    3,602
197      SpiceJet     15:05               1 stop via Goa  08 h 45 m   23:50    3,861
198        IndiGo     07:00                     Non stop  01 h 35 m   08:35    4,120
199        IndiGo     04:50               1 stop via Goa  04 h 35 m   09:25    4,268
200       AirAsia     03:55               1 stop via Goa  04 h 25 m   08:20    4,302
201       AirAsia     23:20               1 stop via Goa  07 h 45 m   07:05    4,302
202     Air India     05:25           1 stop via Chennai  06 h 55 m   12:20    4,358
203       Vistara     07:00                     Non stop  01 h 45 m   08:45    4,400
204        IndiGo     07:40                     Non stop  01 h 55 m   09:35    4,400
205        IndiGo     15:35           1 stop via Chennai  07 h 30 m   23:05    4,415
206        IndiGo     17:10           1 stop via Chennai  05 h 55 m   23:05    5,074
207        IndiGo     05:35           1 stop via Chennai  08 h 20 m   13:55    5,138
208        IndiGo     05:35           1 stop via Chennai  06 h 45 m   12:20    5,312
209        IndiGo     17:00               1 stop via Goa  07 h 55 m   00:55    5,492
210        IndiGo     19:40           1 stop via Chennai  05 h 25 m   01:05    5,538
211        IndiGo     08:50           1 stop via Chennai  05 h 05 m   13:55    6,249
212        IndiGo     04:40         1 stop via Mangalore  05 h 10 m   09:50    6,884
213        IndiGo     07:15           1 stop via Chennai  06 h 40 m   13:55    6,924
214        IndiGo     07:15           1 stop via Chennai  05 h 05 m   12:20    7,098
215       AirAsia     11:40               1 stop via Goa  04 h 20 m   16:00    7,098
216        IndiGo     10:00         1 stop via Hyderabad  06 h 35 m   16:35    7,098
217        IndiGo     13:10         1 stop via Hyderabad       05 h   18:10    7,098
218        IndiGo     15:35           1 stop via Chennai  04 h 40 m   20:15    7,105
219        IndiGo     18:45         1 stop via Hyderabad  05 h 20 m   00:05    7,152
220        IndiGo     17:20         1 stop via Hyderabad  06 h 45 m   00:05    7,152
221        IndiGo     20:30         1 stop via Hyderabad  04 h 40 m   01:10    7,152
222     Air India     06:00         1 stop via Hyderabad  05 h 20 m   11:20    7,329
223       Vistara     06:20         1 stop via Hyderabad  03 h 30 m   09:50    7,518
224        IndiGo     11:30               1 stop via Goa  04 h 20 m   15:50    7,676
225        IndiGo     05:25         1 stop via Hyderabad  04 h 30 m   09:55    9,146
226        IndiGo     06:50         1 stop via Hyderabad  04 h 25 m   11:15    9,146
227        IndiGo     09:40               1 stop via Goa  03 h 50 m   13:30   10,014

In [99]:
#Checking datatype of each feature
df.dtypes

Airlines name    object
Departure        object
Stops            object
Duration         object
Arrival          object
Price            object
dtype: object

In [100]:
df

    Airlines name Departure                 Stops   Duration Arrival    Price
0        SpiceJet     06:10     1 stop via Jaipur  04 h 20 m   10:30    3,680
1         AirAsia     15:15     1 stop via Jaipur  07 h 50 m   23:05    4,546
2         AirAsia     19:40  1 stop via Bengaluru  05 h 45 m   01:25    4,546
3         AirAsia     21:50  1 stop via Bengaluru  16 h 30 m   14:20    4,546
4         Vistara     21:55              Non stop  02 h 15 m   00:10    4,652
..            ...       ...                   ...        ...     ...      ...
223       Vistara     06:20  1 stop via Hyderabad  03 h 30 m   09:50    7,518
224        IndiGo     11:30        1 stop via Goa  04 h 20 m   15:50    7,676
225        IndiGo     05:25  1 stop via Hyderabad  04 h 30 m   09:55    9,146
226        IndiGo     06:50  1 stop via Hyderabad  04 h 25 m   11:15    9,146
227        IndiGo     09:40        1 stop via Goa  03 h 50 m   13:30   10,014

[228 rows x 6 columns]

### Firstly replacing all white spaces

In [101]:
df['Price'] = df['Price'].str.replace(',','')

In [102]:
df

    Airlines name Departure                 Stops   Duration Arrival   Price
0        SpiceJet     06:10     1 stop via Jaipur  04 h 20 m   10:30    3680
1         AirAsia     15:15     1 stop via Jaipur  07 h 50 m   23:05    4546
2         AirAsia     19:40  1 stop via Bengaluru  05 h 45 m   01:25    4546
3         AirAsia     21:50  1 stop via Bengaluru  16 h 30 m   14:20    4546
4         Vistara     21:55              Non stop  02 h 15 m   00:10    4652
..            ...       ...                   ...        ...     ...     ...
223       Vistara     06:20  1 stop via Hyderabad  03 h 30 m   09:50    7518
224        IndiGo     11:30        1 stop via Goa  04 h 20 m   15:50    7676
225        IndiGo     05:25  1 stop via Hyderabad  04 h 30 m   09:55    9146
226        IndiGo     06:50  1 stop via Hyderabad  04 h 25 m   11:15    9146
227        IndiGo     09:40        1 stop via Goa  03 h 50 m   13:30   10014

[228 rows x 6 columns]

In [103]:
print(df['Price'].value_counts().to_string())

 7308     14
 6368      9
 2552      7
 5177      7
 6367      6
 5305      5
 3182      5
 5845      5
 5959      5
 7098      4
 10785     3
 9622      3
 3002      3
 10143     3
 5178      3
 6468      3
 4546      3
 2605      3
 5943      3
 5492      3
 7152      3
 5629      3
 5633      3
 5635      3
 4652      2
 3077      2
 2502      2
 2450      2
 5114      2
 3502      2
 2252      2
 9146      2
 4302      2
 7623      2
 4400      2
 8516      2
 8505      2
 6868      2
 7267      2
 9097      1
 9491      1
 9675      1
 2549      1
 10253     1
 14596     1
 2606      1
 9468      1
 9098      1
 11255     1
 9131      1
 2305      1
 9316      1
 3602      1
 2810      1
 5138      1
 7676      1
 7518      1
 7329      1
 7105      1
 6924      1
 6884      1
 6249      1
 5538      1
 5312      1
 5074      1
 2814      1
 4415      1
 4358      1
 4268      1
 4120      1
 3861      1
 8962      1
 3190      1
 3179      1
 2851      1
 8992      1
 3680      1
 8779      1
 6863      1
 9407      1
 9241      1
 9165      1
 9135      1
 8882      1
 8768      1
 8622      1
 8453      1
 7921      1
 7361      1
 6783      1
 7387      1
 6716      1
 6406      1
 6363      1
 6313      1
 6220      1
 6186      1
 5820      1
 5445      1
 5019      1
 4973      1
 5542      1
 7469      1
 8689      1
 4899      1
 8677      1
 8438      1
 8265      1
 8201      1
 8028      1
 7880      1
 6910      1
 6701      1
 5913      1
 5597      1
 4701      1
 7891      1
 18831     1
 14874     1
 14565     1
 13431     1
 13383     1
 13194     1
 12822     1
 9698      1
 9488      1
 9231      1
 10014     1

## Converting object datatype into float datatype for numerical data

In [104]:
df['Price'] = df['Price'].astype(str).astype(float)

In [105]:
df

    Airlines name Departure                 Stops   Duration Arrival    Price
0        SpiceJet     06:10     1 stop via Jaipur  04 h 20 m   10:30   3680.0
1         AirAsia     15:15     1 stop via Jaipur  07 h 50 m   23:05   4546.0
2         AirAsia     19:40  1 stop via Bengaluru  05 h 45 m   01:25   4546.0
3         AirAsia     21:50  1 stop via Bengaluru  16 h 30 m   14:20   4546.0
4         Vistara     21:55              Non stop  02 h 15 m   00:10   4652.0
..            ...       ...                   ...        ...     ...      ...
223       Vistara     06:20  1 stop via Hyderabad  03 h 30 m   09:50   7518.0
224        IndiGo     11:30        1 stop via Goa  04 h 20 m   15:50   7676.0
225        IndiGo     05:25  1 stop via Hyderabad  04 h 30 m   09:55   9146.0
226        IndiGo     06:50  1 stop via Hyderabad  04 h 25 m   11:15   9146.0
227        IndiGo     09:40        1 stop via Goa  03 h 50 m   13:30  10014.0

[228 rows x 6 columns]

In [106]:
df.dtypes

Airlines name     object
Departure         object
Stops             object
Duration          object
Arrival           object
Price            float64
dtype: object

## converting dataframe to csv file

In [107]:
df.to_csv('file2.csv')